html{
    background-color: #198754;
}

body{
    margin: 0px;
}

/* navigation bar */
.nav-bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: darkblue;
    color: white;
  }
  h1{
    margin-left: 100px;
  }
  .list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
  }
  .list > li {
    margin-right: 30px;
    cursor: pointer;
  }

  /* section 1 */
  .para1{
    text-align: center;
    font-size: 2.75rem;
    line-height: 2.75rem;
    color: white;
    font-weight: bold;
}
.avatar{
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.para2{
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

/* Second section */
.container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    background-color: white;
    gap: 1rem;
    margin: auto;
    padding: 3rem;
}

.card-item{
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 22rem;
}
 
/* third section */
.item2{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.text-card{
    flex: 5rem;
}